# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment
venv/
.env

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

# Docker
.dockerignore

# Model cache / temporary files
*.tmp
